---
import Page from '../layouts/Page.astro';
---

<Page title="404 Page Not Found | KFPM Europe" description="Southeast Asia products distributor">
  <main>
    <h1>404<br><small>Page Not found</small></h1>
    <a href="/">Go back home</a>
  </main>
</Page>